html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat',sans-serif ;
    
}

html{
    scroll-behavior: smooth;
}
#boiler{
  background-color: rgba(45, 45, 45, 0.85); 
  height: 100vh; 
  width: 100vw;
  padding: 0; 
  position: absolute; 
  margin: 0; 
  z-index: 1;
  
}

#name{
    
    color: white;
    font-size: 90px;
    margin-top: 17vw;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

#dev{
    color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.symbols:hover{
    color: gold;
    cursor: pointer;
}

#img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

#name-span{
    color: gold;
}

.symbols{
    color: white;
    padding-left: 20px;
    font-size: 30px;
}



#symbol-div{
  padding-left: 30px;
    padding-right: 50px;
}


hr{
    background-color: white;
    width: 85%;
    margin-left: 50px;
}



#down{
    color: white;
    margin-top: 10px;
    display: inline;
    font-size: 37px;
    
}

#down-spec{
    text-decoration: none;
    color: white;
}

#down-spec:hover{
    color: gold;
}

#container-2{
    font-size: 23px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    margin-top: 20vh;
}

#learn{
   color: white;
   display: inline;
}

#project-page{
    background-color: rgb(45, 45, 45);
    margin-top: 100vh; 
    position: absolute;
    color: white;
    width: 100%;
    overflow: hidden;
   
}


#project-title{
    width: 70%;
    margin: auto;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#hor{
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}


.boundaries{
    margin: auto;
    width: 70vw;
    display: grid;
    grid-gap: 20px ;
    grid-template-columns: 1fr 1fr 1fr;
  }


  .grid-elements{
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    
  }

  img{
      box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 4px solid white;
  }
 
  .imga{
      
    height: 100%;
    
    margin-bottom: 10px;
    
  }

  

  .symbs{
    font-size: 1.1vw;
  }
  
 

  .view-div{
  
    background-color: #C0C0C0;
    margin-bottom: 7px;
    padding: 4px 8px;
    color: rgb(45, 45, 45);
  }

  .view-div:hover, .git-div:hover{
      background-color: gold;
      cursor: pointer;
  }

  .git-div:hover{
      color: black;
  }

  img:hover{
      opacity: 0.5;
      border-color: gold;
      cursor: pointer;
  }

  .git-div{
    background-color: black;
    color: white;
    padding: 4px 8px;
  }

  .title-div{
    background-color: #C0C0C0;
  text-align: center;
  margin-bottom: 7px;
  padding: 4px 8px;
  color: black;
  font-size: 28px;
}


  @media all and (max-width:1260px) {
   .boundaries{
    grid-template-columns: 1fr 1fr;
   }
   .title-div{
    font-size: 25.5px;
  }
  }




  @media all and (max-width:768px) {
     .boundaries{
       grid-template-columns: 1fr;
       width: 95%;
       
     }

     .symbs{
    font-size: 5vw;
  }
  
  .view-div, .git-div, .title-div{
    text-align: center;
  }

  #project-title{
    width: 95%;
    text-align: center;
    margin: auto;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#hor{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}
  }




@media all and (max-width:535px) {
  #name , #dev{
   font-size: 17vw;
   text-align: center;
   padding-left: 30px;
   padding-right: 30px;
}
#dev{
font-size: 4.2vw;

}
#boiler, #img{
height: 100vh;
}
#name{
    margin-top: 30vh;
    
    
}
.symbols{
  font-size: 8vw;
  
  
  text-align: center;
}
#symbol-div{
  text-align: center;
}



hr{
  margin-left: 36px;
  margin-right: 36px;
  width: 80%;
}



}

html,body{
    width: 100%;
}

#container-2{
    margin-top: 15vh;
}
